numpy==1.16.2
opencv-python==4.1.0.25
zuper-nodes-z6>=6
zuper-typing-z6>=6
zuper-ipce-z6>=6
zuper-commons-z6>=6
aido-protocols-daffy-aido4
duckietown-world-daffy-aido4
duckietown-challenges-daffy-aido4

-e git://github.com/AndreaCensi/procgraph.git@master-python3#egg=procgraph

pipdeptree